@{
    ViewData["Title"] = "Home Page";
}
<style>

</style>

<div class="content-container">
<div class="text-center">
        <h1 class="display-4">Jardinería <br />Hermanos Hernández</h1>
</div>
</div>
