@model Proyecto1_KatherineMurillo.Models.Mantenimiento

@{
    ViewData["Title"] = "AbrirCreateMatenimiento";
}

<h1>AbrirCreateMatenimiento</h1>

<h4>Mantenimiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AbrirCreateMatenimiento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdMantenimiento" class="control-label"></label>
                <input asp-for="IdMantenimiento" class="form-control" />
                <span asp-validation-for="IdMantenimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_Cliente" class="control-label"></label>
                <input asp-for="id_Cliente" class="form-control" />
                <span asp-validation-for="id_Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input asp-for="FechaEjecutado" type="date" id="fechaEjecucion" class="form-control" />
                <span asp-validation-for="FechaEjecutado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAgendado" class="control-label"></label>
                <input asp-for="FechaAgendado" type="date" class="form-control" />
                <span asp-validation-for="FechaAgendado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetrosPropiedad" class="control-label"></label>
                <input asp-for="MetrosPropiedad" class="form-control" />
                <span asp-validation-for="MetrosPropiedad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetrosCercaViva" class="control-label"></label>
                <input asp-for="MetrosCercaViva" class="form-control" />
                <span asp-validation-for="MetrosCercaViva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cantidad días sin chapia</label>
                <button onmousemove="mostrarDiasSinChapia()">calcular días</button>
                <input asp-for="DiasSinChapia" type="text" readonly="readonly" id="resultado" class="form-control" />
                <span asp-validation-for="DiasSinChapia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaOtraChapia" class="control-label"></label>
                <input asp-for="FechaOtraChapia" type="date" class="form-control" />
                <span asp-validation-for="FechaOtraChapia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoZacate" class="control-label"></label>
                <input asp-for="TipoZacate" class="form-control" />
                <span asp-validation-for="TipoZacate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AplicacionProducto" class="control-label"></label>
                <input asp-for="AplicacionProducto" class="form-control" />
                <span asp-validation-for="AplicacionProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductoAplicado" class="control-label"></label>
                <input asp-for="ProductoAplicado" class="form-control" />
                <span asp-validation-for="ProductoAplicado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoChapia" class="control-label"></label>
                <input asp-for="CostoChapia" class="form-control" />
                <span asp-validation-for="CostoChapia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoAplicacionProducto" class="control-label"></label>
                <input asp-for="CostoAplicacionProducto" class="form-control" />
                <span asp-validation-for="CostoAplicacionProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoMantenimiento" class="control-label"></label>
                <input asp-for="EstadoMantenimiento" class="form-control" />
                <span asp-validation-for="EstadoMantenimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="c:\users\juan eduardo\desktop\p_1\proyecto1_katherinemurillo\wwwroot\js\mantenimientos.js"></script>
}
