@model IEnumerable<Proyecto1_KatherineMurillo.Models.cls_Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado Productos</h1>

<p>
    <a asp-action="AbrirCrearProduct" asp-controller="Product">Crear Nuevo</a>
</p>
<table class="table table-hover">
    <thead class="table-success">
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.iId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sNombre)
            </td>
            <td>
                    @Html.ActionLink("Modificar", "AbrirModificarProduct", new { _iId_Product= item.iId.ToString() }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Eliminar", "AbrirEliminarProduct", new { _iId_Product = item.iId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
