@model Proyecto1_KatherineMurillo.Models.cls_Inventario

@{
    ViewData["Title"] = "AbrirModificarInventario";
}

<h4>Modifique el Inventario: </h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateInventario" asp-controller="RegistroInventario" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Cédula:</label>
                <input asp-for="IdInventario" maxlength="9" class="form-control" readonly />
                <span asp-validation-for="IdInventario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Digite la descripción:</label>
                <input asp-for="Descripcion" class="form-control" id="descripcion" required />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Seleccione el tipo de máquina:</label>
                <select asp-for="TipoMaquina" class="form-control" asp-items="@(new SelectList(new[] { "Shindaiwa",
                "Corta setos", "Motosierra", "Rastrillo", "Carretillo", "Otro" }))"></select>
                <span asp-validation-for="TipoMaquina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Digite las horas de uso actuales:</label>
                <input asp-for="HorasActuales" class="form-control" inputmode="decimal" />
                <span asp-validation-for="HorasActuales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Digite las horas de uso máximas:</label>
                <input asp-for="HorasMaximas" class="form-control" inputmode="decimal" />
                <span asp-validation-for="HorasMaximas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Digite las horas de uso para dar mantenimiento:</label>
                <input asp-for="HorasMantenimiento" class="form-control" inputmode="decimal" />
                <span asp-validation-for="HorasMantenimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar al Listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
