@model Proyecto1_KatherineMurillo.Models.cls_Empleados

@{
    ViewData["Title"] = "AbrirModificarEmpleados";
}

<h4>Modifique el Empleado: </h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateEmpleados" asp-controller="RegistroEmpleados" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Cédula:</label>
                <input asp-for="iCedula" class="form-control" readonly />
                <span asp-validation-for="iCedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Digite el nombre completo:</label>
                <input asp-for="sNombreCompleto" class="form-control" id="nombre" required />
                <span asp-validation-for="sNombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Seleccione la fecha de nacimiento:</label>
                <input asp-for="dtmFechaNacimiento" type="date" class="form-control" />
                <span asp-validation-for="dtmFechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Seleccione lateralidad:</label>
                <select asp-for="sLateralidad" class="form-control" asp-items="@(new SelectList(new[] { "Diestro", "Zurdo" }))"></select>
                <span asp-validation-for="sLateralidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Seleccione la fecha de ingreso:</label>
                <input asp-for="dtmFechaIngreso" type="date" class="form-control" />
                <span asp-validation-for="dtmFechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Digite el salario por hora:</label>
                <input asp-for="fSalarioHora" class="form-control" id="SalarioHora" inputmode="decimal" />
                <span asp-validation-for="fSalarioHora" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="ListadoEmpleados">Regresar al Listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/validacionesempleados.js"></script>
}
