@model Proyecto1_KatherineMurillo.Models.Empleados

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color:darkcyan">Registros</h1>

<h4 style="color:darkcyan">Editar Empleado</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Digite la cédula:</label>
                <input asp-for="Cedula" class="form-control" readonly />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Selecciona la fecha de nacimiento:</label>
                <input asp-for="FechaNacimiento" class="form-control" type="date" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Selecciona la lateralidad:</label>
                <select asp-for="Lateralidad" class="form-control" asp-items="@(new SelectList(new[] { "Diestro", "Zurdo" }))"></select>
                <span asp-validation-for="Lateralidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Selecciona la fecha de ingreso:</label>
                <input asp-for="FechaIngreso" class="form-control" type="date" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Digite el salario por hora:</label>
                <input asp-for="SalarioHora" type="text" class="form-control" inputmode="decimal" />
                <span asp-validation-for="SalarioHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/validacionesempleados.js"></script>
}
